<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ani.e_canteen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECanteen">
        <activity android:name=".ui.dashboard.order.DetailfoodActivity"></activity>
        <activity android:name=".admin.AddFoodActivity"></activity>
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".ui.dashboard.menu.DessertActivity" />
        <activity android:name=".ui.dashboard.menu.SnackActivity" />
        <activity android:name=".ui.dashboard.menu.DrinkActivity" />
        <activity android:name=".ui.dashboard.menu.FoodActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".auth.RegsiterActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".splashscreen.SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>